@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Multani&display=swap');


header {
    padding: 30px;
    min-width: 420px;
    text-align: center;
    background-color: #c7ffedc7;
}
.title {
    font-size: 3em;
    font-style: oblique;
    font-family: sans-serif;
    color: rgb(255,255,255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

nav {
    padding: 7px;
    text-align: center;
    box-shadow: 0px 5px 15px 2px #0000006b;

}
.title {
    font-size: 3em;
    font-style: oblique;
    font-family: sans-serif;
    color: rgb(255,255,255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
  
}

nav > a {
    color: #000;
    text-decoration: none;
    padding-inline: 20px;
}

nav > a:hover{
    padding: 5px;
    border-radius: 10px;
    background-color: #088a61;
}
main {
    
    padding-top: 0;
    text-align: center;

}
main > section {
    width: 600px ;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 2px #0000006b;
}
article > h1 {
    font-size: 45px;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: rgb(68, 133, 133);
}
#informacoes {
    border-radius: 10px;
    box-shadow: 0px 5px 15px 2px #0000006b;
    padding: 10px;
}
.center {
    text-align: center;
}
#img {
    margin: 10px auto;
}
#manequim {
    margin-top: 10px;
}
p {
    margin: 10px;
    text-align: justify;

}
#Maniquim {
    margin-top: 10px;
}
button {
    width: 80px;
    height: 75px;
}
button > img {
    text-align: center;
}
#back {
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgba(0, 255, 255, 0.514);
}
footer {
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(90deg,  rgba(104, 255, 255, 0.575),  rgba(48, 102, 102, 0.692));
}
footer a {
    color: black;
    text-decoration: none;
}
#contato {
    text-align: center;
}
.contato:hover {
    background-color: aqua;
    padding: 4px;
    border-radius: 10px;
}
a {
    color: cadetblue;
}

/*

            slider head


*/
.container_general{
    height: auto;
    margin: auto;
    width: 550px;
    padding: 20px;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 10px;
    background-color: #d89dc559;
    box-shadow: 0px 5px 15px 2px #0000006b;
}

.container_slider {
    gap: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_img img {
    border-radius: 10px;
}

.slider_head, .slider_chest, .slider_legs, .slider_foot {
    opacity: 0;
    width: auto;
    position: absolute;
    transition: opacity .2s;
}
.on {
    opacity: 1;

}
/*
            AJUSTE DE ESPAÇAMENTO PARA NÃO BUGAR MANIQUIM
*/
#head {
    margin-bottom: 14%;
}
#chest {
    margin-bottom: 23.5%;
}
#legs {
    margin-bottom: 10%;
}
#foot {
    margin-top: 14%;
}

/*
        CONFIGURANDO OS BOTÕES
*/

#prev_button_head, #next_button_head, #prev_button_chest, #next_button_chest, #next_button_legs, #prev_button_legs, #prev_button_foot, #next_button_foot{
    border: none;
    cursor: pointer;
    background-color: transparent;

}

#prev_button_head, #prev_button_chest, #prev_button_legs, #prev_button_foot {
    transform: rotate(180deg);
}
