@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Multani&display=swap');

body {
    background-color: aliceblue;

}
header {
    height:100px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    background-color: #d36eb1c9;
}

nav {
    margin: 0;
    padding: 10px;
    display: block;
    text-align: center;
    background-color: #4D3A46;
}
.title {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(255,255,255);
    font-family:'Noto Sans Multani', sans-serif;;
  
}

nav > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

nav > a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(139, 0, 139, 0.438);
}
main {


    padding: 20px;
    color: white;
    text-align: center;
    background-color: #4D233F;
}
main > section {
    width: 600px ;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #975681;
}
article > h1 {
    font-size: 45px;
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;;
}
.center {
    text-align: center;
}
#img {
    margin: 10px auto;
}
p {
    margin: 10px;
    text-align: justify;

}
#Maniquim {
    margin-top: 10px;
}
button {
    width: 80px;
    height: 75px;
}
button > img {
    text-align: center;
}
#back {
    padding: 2px;
    border-radius: 5px;
    background-color: #4D233F;
}
footer {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #4D3A46;
}
#contato {
    text-align: center;
}
a {
    color: cadetblue;
}

/*

            slider head


*/
.container_general{
    height: auto;
    margin: auto;
    width: 550px;
    padding: 20px;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 10px;
    background-color: #99748D;
}

.container_slider {
    gap: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_img img {
    border-radius: 10px;
}

.slider_head, .slider_chest, .slider_legs, .slider_foot {
    opacity: 0;
    width: auto;
    position: absolute;
    transition: opacity .2s;
}
.on {
    opacity: 1;

}
/*
            AJUSTE DE ESPAÇAMENTO PARA NÃO BUGAR MANIQUIM
*/
#head {
    margin-bottom: 14%;
}
#chest {
    margin-bottom: 23.5%;
}
#legs {
    margin-bottom: 10%;
}
#foot {
    margin-top: 14%;
}

/*
        CONFIGURANDO OS BOTÕES
*/

#prev_button_head, #next_button_head, #prev_button_chest, #next_button_chest, #next_button_legs, #prev_button_legs, #prev_button_foot, #next_button_foot{
    border: none;
    cursor: pointer;
    background-color: transparent;

}

#prev_button_head, #prev_button_chest, #prev_button_legs, #prev_button_foot {
    transform: rotate(180deg);
}
